@using ApartmentWeb.Models.Application;
@using ApartmentWeb.Enums;
@model Address

<div class="row mb-4">
    <!-- Street -->
    <div class="col-md-6 mb-3 mb-md-0">
        @Html.LabelFor(model => model.Street, new { @class = "form-label fw-bold text-dark" })
        @Html.EditorFor(model => model.Street, new { htmlAttributes = new { @class = "form-control form-control-lg" } })
        @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger mt-1" })
    </div>
    
    <!-- City -->
    <div class="col-md-6 mb-3 mb-md-0">
        @Html.LabelFor(model => model.City, new { @class = "form-label fw-bold text-dark" })
        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control form-control-lg" } })
        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger mt-1" })
    </div>
</div>

<div class="row">
    <!-- State -->
    <div class="col-md-6 mb-3 mb-md-0">
        @Html.LabelFor(model => model.State, new { @class = "form-label fw-bold text-dark" })
        @Html.DropDownListFor(model => model.State, (IEnumerable<SelectListItem>)ViewBag.USStates, new { @class = "form-control form-control-lg" })
        @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger mt-1" })
    </div>
    
    <!-- Zip -->
    <div class="col-md-6">
        @Html.LabelFor(model => model.Zip, new { @class = "form-label fw-bold text-dark" })
        @Html.EditorFor(model => model.Zip, new { htmlAttributes = new { @class = "form-control form-control-lg" } })
        @Html.ValidationMessageFor(model => model.Zip, "", new { @class = "text-danger mt-1" })
    </div>
</div>