@using ApartmentWeb.Enums;
@using ApartmentWeb.Models.Application;
@model EmploymentInfo
<div class="employment-info-section">
    <!-- Optional Employment Section -->
    <div class="row align-items-center mb-3 @(Model.AllowElectiveRequire ? "" : "d-none")">
        @Html.Label(Model.ElectiveRequireDisplay, new { @class = "col-md-6 form-label fw-bold text-dark" })
        <div class="col-md-6">
            @Html.EnumDropDownListFor(model => model.ElectiveRequireValue, "-", new { @visibletogglefor = nameof(EmploymentInfo), @class = "yesno_visible_toggle form-control form-control-lg" })
            @Html.ValidationMessageFor(model => model.ElectiveRequireValue, "", new { @class = "text-danger mt-1" })
        </div>
    </div>
    
    <div id="@nameof(EmploymentInfo)" @(Model.ElectiveRequireValue == YesNo.Yes ? "" : "style=display:none;") class="employment-details">
        <div class="row mb-4 align-items-center">
            <!-- Permenant Position -->
            @Html.LabelFor(model => model.IsPermenant, new { @class = "col-md-6 form-label fw-bold text-dark" })
            <div class="col-md-6">
                @Html.EnumDropDownListFor(model => model.IsPermenant, "-", new { @class = "form-control form-control-lg" })
                @Html.ValidationMessageFor(model => model.IsPermenant, "", new { @class = "text-danger mt-1" })
            </div>
        </div>
        
        <div class="row mb-4">
            <!-- Company -->
            <div class="col-md-4 mb-3 mb-md-0">
                @Html.LabelFor(model => model.Company, new { @class = "form-label fw-bold text-dark" })
                @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control form-control-lg", placeholder = "Enter company name" } })
                @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger mt-1" })
            </div>
            
            <!-- Contact Name -->
            <div class="col-md-4 mb-3 mb-md-0">
                @Html.LabelFor(model => model.ContactName, new { @class = "form-label fw-bold text-dark" })
                @Html.EditorFor(model => model.ContactName, new { htmlAttributes = new { @class = "form-control form-control-lg", placeholder = "Enter contact person" } })
                @Html.ValidationMessageFor(model => model.ContactName, "", new { @class = "text-danger mt-1" })
            </div>
            
            <!-- Contact Phone -->
            <div class="col-md-4">
                @Html.LabelFor(model => model.ContactPhone, new { @class = "form-label fw-bold text-dark" })
                @Html.EditorFor(model => model.ContactPhone, new { htmlAttributes = new { @class = "form-control form-control-lg", placeholder = "Enter contact phone" } })
                @Html.ValidationMessageFor(model => model.ContactPhone, "", new { @class = "text-danger mt-1" })
            </div>
        </div>
        
        <div class="row mb-4">
            <!-- Employement Length -->
            <div class="col-md-3 mb-3 mb-md-0">
                @Html.LabelFor(model => model.EmploymentLength, new { @class = "form-label fw-bold text-dark" })
                @Html.EditorFor(model => model.EmploymentLength, new { htmlAttributes = new { @class = "form-control form-control-lg", placeholder = "Length" } })
                @Html.ValidationMessageFor(model => model.EmploymentLength, "", new { @class = "text-danger mt-1" })
            </div>
            
            <!-- Wage Type -->
            <div class="col-md-3 mb-3 mb-md-0">
                @Html.LabelFor(model => model.WageType, new { @class = "form-label fw-bold text-dark" })
                @Html.EnumDropDownListFor(model => model.WageType, "-", new { @class = "form-control form-control-lg" })
                @Html.ValidationMessageFor(model => model.WageType, "", new { @class = "text-danger mt-1" })
            </div>
            
            <!-- Wage -->
            <div class="col-md-3 mb-3 mb-md-0">
                @Html.LabelFor(model => model.Wage, new { @class = "form-label fw-bold text-dark" })
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    @Html.EditorFor(model => model.Wage, new { htmlAttributes = new { @class = "form-control form-control-lg", placeholder = "Amount" } })
                </div>
                @Html.ValidationMessageFor(model => model.Wage, "", new { @class = "text-danger mt-1" })
            </div>
            
            <!-- Hours per week -->
            <div class="col-md-3">
                @Html.LabelFor(model => model.HoursPerWeek, new { @class = "form-label fw-bold text-dark" })
                @Html.EditorFor(model => model.HoursPerWeek, new { htmlAttributes = new { @class = "form-control form-control-lg", placeholder = "Hours" } })
                @Html.ValidationMessageFor(model => model.HoursPerWeek, "", new { @class = "text-danger mt-1" })
            </div>
        </div>
    </div>
</div>