@using ApartmentWeb.Enums;
@using ApartmentWeb.Models.Application;
@model ParentInfo
<div class="parent-info-section">
    <!-- Parents Pay Rent -->
    <div class="row align-items-center mb-3">
        @Html.LabelFor(model => model.ElectiveRequireValue, new { @class = "col-md-6 form-label fw-bold text-dark" })
        <div class="col-md-6">
            @Html.EnumDropDownListFor(model => model.ElectiveRequireValue, "-", new { @visibletogglefor = nameof(ParentInfo), @class = "yesno_visible_toggle form-control form-control-lg" })
            @Html.ValidationMessageFor(model => model.ElectiveRequireValue, "", new { @class = "text-danger mt-1" })
        </div>
    </div>
    
    <div id="@nameof(ParentInfo)" @(Model.ElectiveRequireValue == YesNo.Yes ? "" : "style=display:none;") class="parent-info-details">
        <div class="row mb-4">
            <!-- First Name -->
            <div class="col-md-3 mb-3 mb-md-0">
                @Html.LabelFor(model => model.FirstName, new { @class = "form-label fw-bold text-dark" })
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control form-control-lg", placeholder = "Enter first name" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger mt-1" })
            </div>
            
            <!-- Middle Name -->
            <div class="col-md-3 mb-3 mb-md-0">
                @Html.LabelFor(model => model.MiddleName, new { @class = "form-label fw-bold text-dark" })
                @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control form-control-lg", placeholder = "Enter middle name (optional)" } })
                @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger mt-1" })
            </div>
            
            <!-- Last Name -->
            <div class="col-md-3 mb-3 mb-md-0">
                @Html.LabelFor(model => model.LastName, new { @class = "form-label fw-bold text-dark" })
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control form-control-lg", placeholder = "Enter last name" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger mt-1" })
            </div>
            
            <!-- Phone Num -->
            <div class="col-md-3">
                @Html.LabelFor(model => model.PhoneNum, new { @class = "form-label fw-bold text-dark" })
                @Html.EditorFor(model => model.PhoneNum, new { htmlAttributes = new { @class = "form-control form-control-lg", placeholder = "Enter phone number" } })
                @Html.ValidationMessageFor(model => model.PhoneNum, "", new { @class = "text-danger mt-1" })
            </div>
        </div>
        
        <div class="address-section mb-3">
            @Html.EditorFor(model => model.Address)
        </div>
    </div>
</div>